/* boje*/

/* nebo plava #00c8c8*/
/* slova #8b8b8b*/
/* siva boja slova sa naslovne #575153 */
/* futer siva levi box #333333*/



html {
    font-size: 100%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
a, a:visited, a:hover{
   text-decoration: none; 
}

/*FROM PHONE TO DESKTOP*/




/*HEADER*/
/*over-nav*/

.image-arr {
    width: 10px;
}
.over-nav {
    background-color: #333;
}
.over-1 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.over-1 a {
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 600; 
}
.over-2{
    background-color: #00c8c8;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;

}
.over-2 p{
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
    font-weight: 600; 
   padding-top: 2px;
}
.currency {
    padding-top: 8px;
}
.currency p{
    color: #8b8b8b;
    margin-bottom: 0;
    display:none;
    font-size: 13px;
    font-weight: 600;
    }
    .arrow-currency {
        position: absolute;
        cursor: pointer;
        left: 35px;
        top: 1px;
    }
    .arrow-currency img{
      width: 10px; 
    }
    .card-wrapper{
        position: relative;
        color: #8b8b8b; 
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
    }
    ul.card-list {
        list-style: none;
        position: absolute;
        width: 100%;
        top:15px;
        display: none;
        left: -11px;
        margin-bottom: 0;
        z-index: 999;
    }
    ul.card-list.visible{
        display: block;
    }
    ul.card-list li {
        padding: 7px 20px;
        cursor: pointer;
        background-color:#f8f8f8;
        width: 60px;
        box-shadow:  1px 1px 1px 1px #ccc;
        z-index: 999;
    }
/*header*/
.nav-trans {
    height: 290px;
    max-height: 290px;
    width: 100%;
    overflow-y: scroll;
  -webkit-overflow-scrolling:touch
}
.form-control:focus{
    border-color: #989898;
    background-color: #f8f8f8;
    box-shadow: none;
        }
.form-control-search {
    font-size: 11px;
    background-color: #f8f8f8;
    border-left: 1px solid #989898;
    border-bottom: 1px solid #989898;
    border-right: 0;
    border-top: 1px solid #989898;
    border-radius: 0;
    color: #989898;
}
.image-arr{
    cursor: pointer;
}
.input-group-text {
    font-size: 11px;
    color: #989898;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
    border-top: 1px solid #989898;
    border-left: 0;
    border-radius: 0;

}
.nav-link:after{
    position: absolute;
    top: 16px;
    right: 10px;
    width: 6px;
    height: 6px;
    border-top: 1px solid #8b8b8b;
    border-right: 1px solid #8b8b8b;
    border-left: 0;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.nav-item:hover .nav-link:after{
    border-top: 2px solid #00c8c8;
    border-right: 2px solid #00c8c8;
}
.nav-item:active .nav-link:after{
    border-top: 2px solid #00c8c8;
    border-right: 2px solid #00c8c8;
}
.nav-item.show .nav-link:after{
    -webkit-transform: rotate(-45deg);
}
.nav-wrapper{
    position: fixed;
    z-index: 99;
    width: 100%;
}
.image-wrapper{
    padding-top: 58px;
}
.drop1 p{
    padding-left: 8px;
}
nav ul li a {
    color: #000;
    font-size: 18px;
}
nav ul li {
    padding: 5px 8px;
}
.ave-ul{
    margin-top: 0;
}
nav ul li h2 {
    color: #000;
    font-weight: 700;
    font-size: 13px;
}
nav ul li:hover h2 {
    color: #00c8c8;
}
.podmeni-box {
    padding-top: 10px;
}
.pod-box a {
    font-size: 13px;
    color: #8b8b8b;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
}
.pod-box a:focus{
background-color: #fff;

}
.pod-box p{
    color: #575153;
    font-size: 13px;
    margin-bottom: 8px;
    padding-left: 22px;
    font-weight: 700;
}
.image-poddomen{
    text-align: center;
    padding-top: 20px;
    
} 
.pod-box-look {
    padding-top: 8px;
}
.ave-nav-btn {
    border: none;
}
.ave-nav-btn:focus{
    outline: none;
}
.pod-box a:hover{
    color: #00c8c8;
}
/* carousel*/
.ave-car {
    padding-top: 60px;
}
/* image part*/

 .image-big {
    display: none;
}
.image-small {
    display: block;
    width: 100%;
} 
.btn-section{
    position: absolute;
    right: 14%;
    bottom: 39%;
}
.ave-logo {
    width: 200px;
}
.dropdown-avenue {
    border:0;
    border-radius: 0;
    background-color: #f8f8f8;
}



/*popular*/

.popular-hedlines h2{
    font-size: 16px;
    padding-right: 15px;
    padding-bottom: 18px;
    font-weight: 700;
    color: #8b8b8b;
    margin-bottom: 0;
}
.popular-hedlines{
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: start
}
.ave-home-button {
    border: 0px solid #fff !important;
    font-size: 12px;
    font-weight: 700;
    color: #575153;
    background-color: #fff;
}
.ave-home-button:hover{
  background-color: #fff;
  color:#00c8c8;
}
.ave-home-button.active{
    background-color: #fff;
    color:#00c8c8;
  }
.ave-home-button:visited{
    box-shadow: none;
}
.ave-home-button:focus{
    box-shadow: none;
}
/***shopping part****/

.shopping-box {
    cursor: pointer;
    padding-bottom: 10px;
}
.shopping-part {
    display: none;
}
.shopping-part {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    position: absolute;
    width: 94%;
    left: 3%;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shopping-part2{
    width: 96.5%;
    left: 16px;
}
.shopping-box img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.shopping-part h3{
    display: block;
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    padding-bottom: 5px;
}
.shopping-part p{
    display: block;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 1.4;
    padding-bottom: 5px;  
    margin-bottom: 0;
}
.img-price{
    position: absolute;
    top: 2%;
    left: 34px;
    color: #8b8b8b;
    font-size:20px;
}
.img-price1{
    position: absolute;
    top: 2%;
    left: 25px;
    font-size: 11px;
}
.img-price-discount{
    position: absolute;
    top: 2%;
    left: 84px;
    color: #8b8b8b;
    font-size:20px;
}
.img-price2{
    position: absolute;
    top: 2%;
    left: 78px;
    font-size: 11px;
}
/* LOOKBOOK*/
.book-box{
    position: absolute;
    top: 28px;
    width: 55%;
    right: 5%;
    text-align: end;
}
.book-box p {
    display: block;
    color: #575153;
    font-size: 13px;
    line-height: 1.4;
    padding-bottom: 5px; 
    margin-bottom: 0;
    text-align: end;
}
.btn-box:hover{
    background-color: #00c8c8;
    border: 1px solid #00c8c8;
}
.btn-box {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 0;
}
.discount{
    text-decoration-line: line-through;
}

.book-box h4 {
    font-size: 33px;
    font-weight: bold;
    color: #8b8b8b;
}
.book-box h4 span{
    font-size: 27px;
    color: #8b8b8b;
    font-weight: 500;
}

.btn-look-box{
    text-align: center;
}
.look-book {
    padding-bottom: 10px;
}



/*footer*/
.footer-wrapper{
    padding-top: 20px;
    background-color:#f8f8f8;
}
.footer-links a{
    display: block;
    color: #8b8b8b;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 12px;
    font-weight: 500;
}
.footer-links a:hover{
    display: block;
    color: #00c8c8;
}
.footer-media img {
    width: 30px;
}
.footer-media img:first-child {
    width: 19px;
}
.footer-links h5{
    color:#575153;
    font-size: 13px;
    font-weight: 700;
    padding-bottom:15px ;
}
.footer-links p{
    display: block;
    color: #8b8b8b;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 5px;
    font-weight: 500;
}
.footer-links-box {
    padding-top: 15px;
}
.footer-media{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.naslov-fut h6{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}
.naslov-fut p{
    font-size: 26px;
}
.naslov-fut{
background-color: #333;
color:#fff;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}
.media-fut{
    background-color:#00c8c8;
    color: azure;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50;
    display: flex;
    justify-content: space-evenly;
  
}
.signature-wrapper{
    background-color: #000;
    color: #8b8b8b;
    text-align: center;
}
.signature-wrapper p{
    display: block;
    color: #8b8b8b;
    font-size: 11px;
    line-height: 1.4;
    margin-bottom: 0;
    display: inline-block;
}
.signa1 p{
    padding-top: 5px;
}
.signa2 p {
    padding-top: 2px;
    padding-bottom: 3px;
}
.signa2 p:last-child{
    padding-top: 0px;  
}

/* Start Media Queries */

/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){

}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {

    .btn-section {
        position: absolute;
        right: 5%;
        bottom: 32%;
        }
} 

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {

    /* image*/
.image-big {
    display: block;
}
.image-small {
    display: none;
}
.btn-section {
    position: absolute;
    right: 18%;
    bottom: 55%;
    }
    /*popular*/
.popular-hedlines h2{
    font-size: 13px;
    padding-right: 10px;
    padding-bottom: 18px;
}
.book-box h4{
    font-size: 21px;
}
.book-box h4 span{
    font-size: 18px;
}
.book-box p {
    font-size: 14px;
}
}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {
    .nav-trans {
        max-height: 56px;
        width: 100%;
        overflow-y: unset;
        overflow:hidden
      -webkit-overflow-scrolling:touch
    }
    .nav-link:after{
        position: relative;
        top: 0;
        right: 0;
    }
    .nav-wrapper{
        padding-left: 59px;
        padding-right: 59px;
    }
    .popular-container {
        padding-left: 71px;
        padding-right: 71px;
    }

    /* over header*/
    .currency p{
        color: #8b8b8b;
        margin-bottom: 0;
        display:inline-block;
        font-size: 13px;
        font-weight: 600;
        }
    .over-1{
        padding-top: 12px;
        padding-bottom: 8px;
    }
    .over-2{
        padding-top: 12px;
        padding-bottom: 8px;
    }
    .currency {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .over-ali{
        text-align: end;
    }
    
/*header*/
.bg-light{
    background-color: rgba(255, 255, 255, 0)!important;
}
.nav-trans{
    background-color: rgba(255, 255, 255, 0);
}

.podmeni-box {
    padding-top: 0px;
}
.ave-logo {
    width: 250px;
}
.img-section-btn{
  font-size: 13px;
  font-weight: 600;
  border-radius: 0;
  border: 2px solid #575153;
  letter-spacing: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 13px;
  padding-right: 13px;
}
.btn-section{
    position: absolute;
    right: 17%;
    bottom: 48%;
}
.drop-open {
    width: 320px;
}
.drop-open1 {
    width: 200;
}
.ave-search{
    width: 188px;
}
.brand-text h2{
    padding-top: 8px;
}
/*image*/
.image-wrapper{
    padding-top: 0px;
    padding-bottom: 30px;
}
/* POPULAR*/
.popular-hedlines{
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-top: 1px solid #F8F8F8;
}
.popular1{
    padding-bottom: 25px;
    border-bottom:  1px solid #F8F8F8;
}

/*LOOK BOOK*/
.book-box{
    position: absolute;
    top: 28px;
    width: 50%;
    right: 5%;
    text-align: end;
}
  .look-book {
    margin-right: 30px;
}
.look-book:last-child{
    margin-right: 0;
}  
.book-box {
    text-align: end;
}

.book-box h4 {
    font-size: 20px;

}
.book-box h4 span{
    font-size: 18px;
}
.book-box p {
    font-size: 14px;
}

.look-wrapper {
    padding-top: 30px;
    padding-bottom: 80px;
}

/*footer*/
.naslov-fut{
    background-color: #333;
    color:#fff;
    text-align: center;
    padding-top: 30px;
    margin-right: 15px;
    }
.media-fut{
    display: flex;
    justify-content: space-evenly;
    background-color:#00c8c8;
    color: azure;
    padding-top: 50px;
    padding-bottom: 50;
    margin-left: 10px;
    }
.footer-media{
    padding-bottom: 40px; 
    }
.signa1 {
   text-align: start;
   align-items: center;
}
.signa1 p{
    padding-top: 7px;
    padding-bottom: 5px;
}
.signa2 {
text-align: end;
align-items: center;
}
.footer-links{
    padding-bottom: 60px;
}
}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {
    
    /* navigation header*/
    .nav-trans {
        max-height: 56px;
        width: 100%;
        overflow-y: unset;
        overflow:hidden
      -webkit-overflow-scrolling:touch
    }
    .nav-wrapper{
        padding-left: 59px;
        padding-right: 59px;
    }
    .popular-container {
        padding-left: 71px;
        padding-right: 71px;
    }
    .ave-ul{
        margin-right: 85px;
    } 
    nav ul li {
        padding-right: 13px;
        padding-left: 13px;
    }
    nav ul li:first-child{
        padding-left:0;
    }
    .nav-link:after{
        position: relative;
        top: 0;
        right: 0;
    }
    .image-poddomen{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 20px;
    } 
    .btn-section{
        position: absolute;
        right: 15%;
        bottom: 18%;
    }
    .img-section-btn{
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 26px;
        padding-right: 26px;
        letter-spacing: 3px;
      }
      .drop-open{
          left: -66px;
          width: 450px;
          padding-top: 24px;
      }
      .dropdown-avenue {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
      .pod-box p{
        margin-bottom: 17px;
      }
      .image-wrapper{
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .popular1{
        padding-bottom: 60px;
        border-bottom:  1px solid #F8F8F8;
    }
    .look-wrapper{
        padding-top: 60px;
    }
/* LOOKBOOK*/
.book-box{
    position: absolute;
    top: 28px;
    width: 50%;
    right: 6%;
}
.book-box p {
    display: block;
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 5px; 
    margin-bottom: 16px;
}
.btn-box:hover{
    background-color: #00c8c8;
    border: 1px solid #00c8c8;
}
.btn-box {
    font-size: 14px;
    letter-spacing: 2;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 0;
}
.discount{
    text-decoration-line: line-through;
}

.book-box h4 {
    font-size: 36px;
    font-weight: bold;
    color: #575153;
    letter-spacing: 2;
}
.book-box h4 span{
    font-size: 33px;
    color: #575153;
    font-weight: 500;
    letter-spacing: 3;
}

.btn-look-box{
    text-align: end;
}
.fashion-container{
    width: 1179px;
    margin: 0 auto;
}
/*footer*/
.naslov-fut h6{
    font-size: 33px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom:18px;
}
.naslov-fut p{
    font-size: 30px;
}
.naslov-fut{
padding-top: 38px;
padding-bottom: 38px;
}

}

@media screen and (min-width: 1400px) {

    /* header*/
    .nav-wrapper{
        padding-left: 59px;
        padding-right: 59px;
    }
    .popular-container {
        padding-left: 71px;
        padding-right: 71px;
    }
    nav ul li {
        padding-right: 26px;
        padding-left: 26px;
    }
    .drop-open{
        width: 470px;
    }
    .pod-box a {
        font-size: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .btn-section{
        position: absolute;
        right: 15%;
        bottom: 15%;
    }
  .btn-box {
    font-size: 15px;
    letter-spacing: 3px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 19px;
    padding-bottom: 19px;
  }
    .book-box {
        position: absolute;
        top: 54px;
        width: 56%;
        right: 6%;
}
.img-section-btn{
    padding-top: 19px;
    padding-bottom: 18px;
    padding-left: 45px;
    padding-right: 45px;
}
.book-box h4 {
    font-size: 39px;
}
.book-box h4 span{
    font-size: 39px;
}

}


@media screen and (min-width: 1600px) {

.book-box {
    top: 120px;
    width: 56%;
    right: 6%;
}

.book-box h4 {
    font-size: 47px;
}
.book-box h4 span{
    font-size: 47px;
}
}





.deloviSticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 40;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
