/* boje*/

/* nebo plava #00c8c8*/
/* slova #8b8b8b*/
/* siva boja slova sa naslovne #575153 */
/* futer siva levi box #333333*/

.container-brand {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
   }


.nav-wrapper {
   background-color: #f8f8f8;
}
/* slika ispod navigacije*/
.the-brand-wrapper {
    padding-top: 56px;
}
/* slika ispod navigacije*/

.brand-section h2>span {
    font-size: 34px;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 2;
    margin-bottom: 15px;
}
.brand-section h2 {
    font-size: 33px;
    letter-spacing: 2;
    margin-bottom: 15px;
    font-weight: 300;
}
.brand-section h3 {
    font-size: 22px;
    color: #fff;
    letter-spacing: 2;
}
.brand-section{
    position: absolute;
    top: 41%;
    left: 5%;
    color: #fff;
    text-align: center;
}

/*deo ispod slike*/

.brand-box {
    padding-top: 10px;
    padding-bottom: 10px;
}
.brand-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: #575153;
    text-align: center;
    margin-bottom: 10px;
}
.brand-text p{
    font-size: 14px;
    color:#8b8b8b;
    text-align: justify;
    font-weight: 400;
    line-height: 1.5;

}
.brand-text p>span {
    color: #00c8c8;
}
.brand-text h5 {
    font-size: 13px;
    font-weight: 600;
    color: #8b8b8b;
    text-align: center;
    margin-bottom: 10px;
}
.brand-text p>a{
    color: #00c8c8;
}




/* Start Media Queries */

/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){
  
}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {
    .brand-section {
        position: absolute;
        top: 40%;
        left: 16%;
        color: #fff;
    }
}

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {
    .brand-section {
        position: absolute;
        top: 22%;
        left: 26%;
        color: #fff;
    }
}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {
    .container-brand {
        max-width: 980px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
       }

    .bg-light{
        background-color: #f8f8f8 !important;
    }
    .ave-nav{
        background-color: #f8f8f8 !important;
    }
    .brand-section {
        position: absolute;
        top: 18%;
        left: 27%;
        color: #fff;
    }
}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {

    .container-brand {
        max-width: 1180px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
       }
    

    /*SLIKA ISPOD NAVIGACIJE*/
  
    .brand-section {
        position: absolute;
        top: 29%;
        left: 32%;
        color: #fff;
    }

    /* deo ispod slike*/

    .brand-box {
        padding-top: 20px;
        padding-bottom: 40px;
    }
     .brand-text1{
        padding-bottom: 20px;
    } 
    .brand-text1 h4{
        padding-top: 20px;
    } 
    .brand-text h4{
    text-align: start;
    font-size: 19px;
    margin-bottom: 20px;
    }
    .brand-text h5{
    text-align: start;
    }
    .designed-wrapper{
        padding-top: 40px;
    }
    .brand-section h2{
        font-size: 45px;
        margin-bottom: 25px;
    }
    .brand-section h2>span {
        font-size: 45px;
    }
    .brand-section h3 {
        font-size: 29px;
    }
}

@media screen and (min-width: 1400px) {
    .brand-section {
        position: absolute;
        top: 32%;
        left: 35%;
        color: #fff;
    }
}



