
.nav-wrapper{
    background-color: #F8F8F8;
}
.the-brand-wrapper {
    padding-top: 60px;
}
.jacket-wrapper {
    padding-top: 20px;
    padding-bottom:20px;
}
.prices{
    position: absolute;
    top: 10px;
    left: 26px;
    background-color: rgba(248, 248, 248, .5);

}
.prices2 {
    color: #000;
    font-size:20px;
    display: inline-block;
    margin-bottom: 0;
    padding-right: 5px;
}
.prices1{
    /* color: #8b8b8b; */
    color: #000;
    padding-left: 5px;
    font-size:12px;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}
.brand-section {
    position: absolute;
    text-align: center;
    top: 30%;
    left: 0%;
    color: #fff;
}
.brand-section h2 {
    font-size: 28px;
}
.brand-section h2>span{
font-weight: 700;
}
.brand-section h3{
    font-size: 19px;
}
/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){
  
}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {
    .brand-section {
        position: absolute;
        text-align: center;
        top: 40%;
        left: 5%;
        color: #fff;
    }
} 

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {
    .brand-section {
        position: absolute;
        text-align: center;
        top: 20%;
        left: 10%;
        color: #fff;
    }

}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {
  
}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {
    .jacket-wrapper {
        padding-top: 60px;
        padding-bottom:60px;
    }
.jacket1, .jacket2, .jacket3 {
    padding-bottom: 30px;
}
.brand-section {
    position: absolute;
    top: 23%;
    left: 18%;
    color: #fff;
}
.brand-section h2 {
    font-size: 38px;
}
.brand-section h3 {
    font-size: 25px;
}
}
@media screen and (min-width: 1400px) {
    .brand-section {
        position: absolute;
        top: 30%;
        left: 27%;
        color: #fff;
}


}
