/*naslov i dugmad  #575153*/

/* osla slova 989898*/

.bg-light {
    background-color: #f8f8f8 !important;
}
.singin-wrapper {
    padding-top:30px;
    padding-bottom: 30px;
}
.sing-box{
border-right: 1px solid #e7e7e7;
}
.sing-box h2 {
    color:#575153;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
}
.sing-box {
 padding-bottom: 30px;
}
.register-box h2{
    color:#575153;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 16px;
}
.log-form{
    padding-bottom: 15px;
}
.log-control {
    color: #f1f1f1;
    font-size: 15px;
    border-radius: 0;
}
.log-check {
    color:#adadad;
    font-size: 13px;
    font-weight: 500;
}
 .log-button {
    color: #575153;
    font-weight: 600;
    border-radius: 0;
    border: 2px solid  #575153;
    font-size: 14px;
    letter-spacing: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    }
    .log-button:hover{
     color: #fff;
     background-color: #00c8c8;
    border: 2px solid #00c8c8;
 }
 .log-button:focus {
     box-shadow: none;
 }
 .btn-log a {
     display: block;
     color:#c3c2c2;
    font-size: 13px;
    margin-top: 15px;
    text-align: end;
    font-weight: 500;
 }
.btn-log a>span{
     color: #00c8c8;
}

.brand-section {
    position: absolute;
    top: 41%;
    left: 5%;
    color: #fff;
    text-align: center;

}
.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: none;
}

/* Start Media Queries */

/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){
  
}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {
    
    .brand-section {
        position: absolute;
        top: 55%;
        left: 20%;
        color: #fff;
    }

} 

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {
    .brand-section {
        position: absolute;
        top: 25%;
        left: 32%;
        color: #fff;
    }

}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {

.singin-wrapper {
    padding-top:50px;
    padding-bottom: 50px;
}
.sing-box {
    padding-bottom: 0px;
   }
   .brand-section {
    position: absolute;
    top: 35%;
    left: 36%;
    color: #fff;
}

}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {
    .sing-box h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    .register-box h2{
     font-size: 18px;
     margin-bottom: 40px;
    }
    .log-form{
        padding-bottom: 25px;
    }
    .btn-log{
      display: flex;
      flex-direction: row;
     justify-content: space-between;
    }
    .log-button{
        font-size:18px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 36px;
        padding-right: 36px;  
    }
    .big-link {
        padding-left: 35px;
    }

    .brand-section {
        position: absolute;
        top: 30%;
        left: 38%;
        color: #fff;
    }

}

@media screen and (min-width: 1400px) {
    .brand-section {
        position: absolute;
        top: 30%;
        left: 35%;
        color: #fff;
    }


}



