


/* boje*/
/* naslovi #575153*/
/*boja media 727272*/
/*boja slova lokacije #8e8c8c*/


.nav-wrapper{
    background-color: #F8F8F8;
}
/* slika ispod navigacije*/
.the-brand-wrapper {
    padding-top: 56px;
}
.brand-section h2 {
    font-size: 30px;
    letter-spacing: 2;
    margin-bottom: 15px;
}

.brand-section h2>span {
    font-size: 31px;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 2;
    margin-bottom: 15px;
}

.brand-section h3 {
    font-size: 16px;
    color: #fff;
    letter-spacing: 2;
}
.brand-section{
    position: absolute;
    top: 41%;
    left: 8%;
    color: #fff;
    text-align: center;
}
/*lokacije evropske*/
.local-box{
    padding-top: 15px;
    padding-bottom: 25px;
}
.local-box h2{
text-align: center;
font-size: 16px;
font-weight: 600;
color: #575153;

}
.local-box h3 {
font-size: 14px;
font-weight: 600;
color: #8b8b8b;
}
.local-box p{
font-size: 15px;
color: #8b8b8b;
text-align: justify;
line-height: 1.6;
}
.btn-local{
    text-align: center;
}


.local-text {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
}
.map-wrapper{
    background-color: #f8f8f8; 
 }
.local-maps{
    background-color: #f8f8f8; 
} 
.local-text h5{
text-align: center;
padding-bottom: 27px;
font-size: 15px;
font-weight: 600;
color: #575153;
}
.local-text h6 {
font-size: 14px;
font-weight: 600;
color: #8b8b8b;
margin-bottom: 19px;
}
.local-text p{
font-size: 15px;
color: #8b8b8b;
text-align: justify;
line-height: 1.6;
font-weight: 400;
}

.local-media {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}

/* adresa*/
.local-media img {
    width: 30px;
}
.local-media img:first-child{
    width: 16px;
}
.local-text img {
    width: 18px;
}
.local-button {
    color: #454647;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #454647;
    border-radius: 0;
    letter-spacing: 2;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}
.local-button:hover{
    color: #fff;
    background-color: #00c8c8;
    border: 2px solid #00c8c8;
}
.iframe {
    width: 100%;
}
/* Start Media Queries */

/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){
  
}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {
 
} 

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {
    .brand-section {
        position: absolute;
        top: 20%;
        left: 39%;
        color: #fff;
    }
}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {
    .bg-light{
        background-color: #f8f8f8 !important;
    }
    .ave-nav{
        background-color:#f8f8f8;
    }
    .brand-section {
        position: absolute;
        top: 24%;
        left: 39%;
        color: #fff;
    }
    /*lokacije evroopske*/
    .local-box{
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .local-box h2{
    text-align: start;
    font-size: 17px;
    margin-bottom: 20px;

    }
    .local-box h3 {
    font-size: 13px;
    margin-bottom: 12px;
    }
    .local-box p{
    font-size: 14px;
    line-height: 1.4;
    }
    .btn-local{
        text-align: start;
    }

    .local-wrapper{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .local-text h5{
        text-align: start;
        font-size: 15px;
        
        }
        .local-text h6 {
        font-size: 13px;
        }
        .local-text p{
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 19px;
        }
        /* adresa*/
        .local-media img {
            width: 22px;
            margin-right: 8px;
        }
        .local-media img:first-child{
            width: 12px;
        }
        .local-media{
          display: flex;
          justify-content:left;
        }

        .iframe {
            width: 100%;
            height: 550px;
        }


}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {

    .brand-section {
        position: absolute;
        top: 30%;
        left: 38%;
        color: #fff;
    }
    .brand-section h2 {
        font-size: 37px;
        margin-bottom: 25px;
    }
    
    .brand-section h2>span {
        font-size: 36px;
        margin-bottom: 25px;
    }
    
    .brand-section h3 {
        font-size: 19px;
    }
    .local-button {
        font-size: 14px;
        letter-spacing:2;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 35px;
        padding-right: 35px;
    }
    .local-text h5 {
        font-size: 16px;
    }
    .local-text {
     padding-top: 43px;
   }
   .map-wrapper{
       margin-bottom: 124px;
   }
}

@media screen and (min-width: 1400px) {
    .brand-section {
        position: absolute;
        top: 30%;
        left: 35%;
        color: #fff;
    }
}



