/* siva slova 969696*/


.product-box {
    padding-top: 20px;
    padding-bottom: 20px;
}
.product-wrapper{
    padding-top:20px
}
.stars-box img{
    width: 14px;
}
.view-media {
    margin-right: 8px;
}
.big-face{
    width: 8px !important;
}
.hedline-box h2{
    color: #333333;
    font-weight: 600;
    font-size: 17px;
}
.stars-box a:hover {
    color: #00c8c8;
}
.stars-box a {
    color: #969696;
    font-size: 14px;
    font-weight: 700;
}
.stars-box p {
    color: #969696;
    font-size: 14px;
    font-weight: 700;
}

.brand-section{
    top: 34%;
left: -3%;
}
/* carousel*/
.ave-control:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00c8c8;
}
/* DESCRIPTION*/
.view-text {
    text-align: center;
}
.view-specification-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.view-text h2{
    color: #333333;
    font-weight: 600;
    border-radius: 0;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
}
.view-text h2:hover {
    background-color: #000;
    color: #fff;
}
.specif-box {
    background-color: #f8f8f8;
}
.des-text h4 {
    color: #969696;
    font-weight: 700; 
    font-size: 14px;
}
.des-text p {
    /* color: #aaa7a8; */
    color: #333;
    font-size: 14px;
    text-align: justify;
}
.price-no{
    text-decoration-line: line-through;
}
.text-des-box h3{
    display: inline-block;
}
.price-view {
    font-size: 20px;
    color: #9a9798;
    display: inline-block;
    margin-right: 15px;
    margin-top: 3px;
    margin-left: 7px;
}
.price-view-small {
    position: absolute;
    left: 3.5%;
    font-size: 13px;
    color: #969696;
}
.price-view-small-1 {
    position: absolute;
    left: 22%;
    font-size: 13px;
    color: #969696;
}
.view-justify{
    text-align: justify;
    color: #969696;
    font-size: 15px;
    margin-top: 15px;
}
.view-avilability{
    color: #9a9798;
    font-size: 14px;
    font-weight: 700;
}
.view-avilability span{
    color: #969696;
    font-size: 14px;
    font-weight: 300;
}
.view-code{
    color: #9a9798;
    font-size: 14px;
    font-weight: 700;
}
.view-code span{
    color: #969696;
    font-size: 14px;
    font-weight: 300;
}
.view-tag{
    color: #9a9798;
    font-size: 14px;
    font-weight: 700;
}
.view-tag span {
    color: #00c8c8;
    font-size: 14px;
    font-weight: 300;
}
.view-steps li{
    color: #969696;
    font-size: 15px;
    padding-bottom: 6px;
}
/* color*/
.form-control:focus{
    border-color: #969696;
    box-shadow: none;
}
.custom-select:focus {
    border-color: #969696;
    box-shadow: none; 
}
.select-bl {
    color: #969696;
    font-size: 14px;
    border-radius: 0;
}
.select-bl-da{
    padding-left: 8px;
    padding-right: 8px;
}
.select-da {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
}
/* butons part*/
.view-button{
        color: #333333;
        border-radius: 0;
        font-size: 14px;
        letter-spacing: 2;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border: 2px solid #333;

    }

.view-button img {
    width: 13px;
    margin-right: 8px;
}
.buy1{
    padding-top: 20px;
}
.view-compare {
    padding-top: 20px;
}
.view-compare img {
    display: inline-block;
    margin-right: 12px;
}
.view-compare h5{
    display: inline-block;
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2;
}
.form-size{
    padding-top: 10px;
}

/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){
  
}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {
    .brand-section{
        left: 2%;
        top: 45%;
    }
} 

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {
    .brand-section{
        left: 11%;
        top: 26%;
    }


}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {
  
    .product-wrapper{
        padding-top:20px
    }
    .brand-section{
        left: 13%;
        top: 27%;
    }
/* specification*/
.view-text h2{
    padding-top: px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 0;
}
.stars-box p {
    display: inline-block;
    padding-right: 15px;
}
.buy1{
    padding-top: 0px;
}
.form-size{
    padding-top: 0px;
}
.price-view {
    margin-left:0px;
}
.price-view-small {
    position: absolute;
    left: 0.5%;
    font-size: 13px;
    color: #969696;
}
.price-view-small-1 {
    position: absolute;
    left: 11%;
    font-size: 13px;
    color: #969696;
}
.size-wrapper{
    padding-top: 25px;
    padding-bottom: 25px;
}

}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {
    .brand-section{
        left: 25%;
        top: 33%;
    }
    .price-view {
        font-size: 25px;
        margin-top: 0;
        color: #969696;
        margin-bottom: 45px;
    }
    .price-view span {
        font-size: 10px;
    }
    .view-button{
        color: #333333;
        border-radius: 0;
        font-size: 18px;
        letter-spacing: 2;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 30px;
        padding-right: 30px;
    }
.view-button img {
    width: 15px;
    margin-right: 8px;
}
.view-compare img {
    width: 35px;
    display: inline-block;
    margin-right: 14px;
}
.view-compare h5{
    display: inline-block;
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2;
}
.size-wrapper{
    padding-top: 35px;
    padding-bottom: 35px;
}
.des-text {
      padding-bottom: 106px;
}
.des-text h4 {
  margin-bottom: 12px;  
}
}

@media screen and (min-width: 1400px) {
  
}



