
/* boje*/
/*boja media 727272*/
/*boja slova lokacije #8e8c8c*/


/* slika ispod navigacije*/
.popular-container{
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
.the-brand-wrapper {
    padding-top: 56px;
}
.brand-section h2 {
    font-size: 27px;
    letter-spacing: 2;
    margin-bottom: 15px;
}

.brand-section h2>span {
    font-size: 27px;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 2;
    margin-bottom: 15px;
}

.brand-section h3 {
    font-size: 13px;
    color: #fff;
    letter-spacing: 2;
}
.brand-section{
    position: absolute;
    top: 41%;
    left: 8%;
    color: #fff;
    text-align: center;
}
.look-text-box{
    width: 56%;
    position: absolute;
    top: 3%;
    left: 7%;
}
.look-text{
    width: 61%;
}
.look-text-box h2 {
    color: #575153;
    font-size: 19px;
    letter-spacing: 2;
}
.look-text-box h2>span{
    font-weight: 700;
}
.look-text-box h3{
    color: #575153;
    font-size: 9px;
    font-weight: 700;
}
.look-text-box p{
    color: #575153;
    font-size: 10px;
    text-align: justify;
}
.post-button {
    color: #333333;
    border-radius: 0;
    font-size: 9px;
    letter-spacing: 2;
    border: 2px solid #575153;
}
.post-button:hover{
    color: #fff;
    background-color: #00c8c8;
    border: 2px solid #00c8c8;
}
.post-button:focus{
  box-shadow: none;  
}

.btn-local{
    text-align: start;
}
.popular-hedlines{
    padding-top: 20px;
}
/* Start Media Queries */

/* MEDIA QUERIS*/

/* iphone 5 */
@media screen and (max-width: 320px){
  
}

/*xs = Extra small <576px Max container width None (auto)*/
@media screen and (min-width: 575px) {
    .brand-section {
        position: absolute;
        top: 45%;
        left: 20%;
        color: #fff;
    }
} 

   

/*md = Medium ≥768px Max container width 720px*/
@media screen and (min-width: 768px) {
    .brand-section {
        position: absolute;
        top: 18%;
        left: 26%;
        color: #fff;
    }
}

/*lg = Large ≥992px Max container width 960px*/
@media screen and (min-width: 992px) {
    .bg-light{
        background-color: #f8f8f8 !important;
    }
    .ave-nav{
        background-color:#f8f8f8;
    }
    .brand-section {
        position: absolute;
        top: 24%;
        left: 39%;
        color: #fff;
    }

}

/*xl = Extra large ≥1200px Max container width 1140px*/
@media screen and (min-width: 1200px) {

    .brand-section {
        position: absolute;
        top: 30%;
        left: 35%;
        color: #fff;
    }
    .brand-section h2 {
        font-size: 45px;
        margin-bottom: 35px;
    }
    
    .brand-section h2>span {
        font-size: 45px;
        font-weight: bolder;
    
    }
    
    .brand-section h3 {
        font-size: 27px;
   
    }
    .look-text-box{
        width: 55%;
        position: absolute;
        top: 10%;
        left: 5%;
    }
    .look-text{
        width: 63%;
    }
    .look-text-box h2 {
        color: #575153;
        font-size: 31px;
        letter-spacing: 2;
    }
    .look-text-box h2>span{
        font-weight: 700;
    }
    .look-text-box h3{
        color: #575153;
        font-size: 10px;
        font-weight: 700;
    }
    .look-text-box p{
        color:#8e8c8c;
        font-weight: 500;
        font-size: 12px;
        text-align: justify;
    }
    .post-button {
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 15px;
    }
    .popular-hedlines{
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media screen and (min-width: 1400px) {
    .brand-section {
        position: absolute;
        top: 28%;
        left: 35%;
        color: #fff;
    }

    .look-text-box{
        width: 54%;
        top: 9%;
        left: 5%;
    }

    .look-text-box h2 {
        font-size: 45px;
    }
    
    .look-text-box h3{
        font-size: 13px;
        margin-bottom: 18px;
    }
    .look-text-box p{
        font-size: 14px;
    }

    .post-button{
       font-size: 17px;
       padding-top: 16px;
       padding-bottom: 16px;
       padding-left: 32px;
       padding-right: 32px;
    }
    .btn-local{
        margin-top: 30px;
    }
}




